@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@using Nop.Web.Framework;

<strong>
    @T("Plugins.Payments.MercadoPago.Fields.Failure")
</strong>
<p>
    @T("Checkout.OrderNumber"): @Model.orderId
</p>
